<eisenhower-matrix-header></eisenhower-matrix-header>

<div class='matrix'>
  <div class='matrix-column' id='do'>
    <ul>
      <li *ngFor="let t of (todos | async)" class="todo">{{ t.title }}</li>
    </ul>
  </div>

  <div class='matrix-column' id='schedule'>
    <ul>
      <li *ngFor="let t of (todos | async)" class="todo">{{ t.title }}</li>
    </ul>
  </div>

  <div class='matrix-column' id='delegate'>
    <ul>
      <li *ngFor="let t of (todos | async)" class="todo">{{ t.title }}</li>
    </ul>
  </div>

  <div class='matrix-column' id='eliminate'>
    <ul>
      <li *ngFor="let t of (todos | async)" class="todo">{{ t.title }}</li>
    </ul>
  </div>
</div>

<button id="add-todo" (click)="addTodo()">Add Todo</button>

<router-outlet></router-outlet>
