::ng-deep {
  eisenhower-matrix-header {
    h1 {
      color: #666666;
      font-weight: 500;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 52px;
      margin: auto;
      width: 50%;
      text-align: center;
    }
  }

  #do {
    .matrix__element {
      background-color: #99cb1c;
    }
  }

  #schedule {
    .matrix__element {
      background-color: #4488ef;
    }
  }

  #delegate {
    .matrix__element {
      background-color: #f5a932;
    }
  }

  #eliminate {
    .matrix__element {
      background-color: #cc3b28;
    }
  }
}

.matrix {
  width: 100%;
  display: grid;
  grid-template: 40px 1fr 1fr / 40px 1fr 1fr;
  gap: 15px 15px;
  height: calc(100vh - 200px);
}

.matrix__column {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  h2 {
    margin: 0;
  }
  &--vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
  }
}
